header{
    height: 30%;
    background-color: rgb(238, 194, 137);
   
}
#Texto1{
    float: left;
    font-family: verdana;
    font-size: 150%;
    text-align: center;
    color: rgb(43, 39, 5);
    
    }

#p_texto1{
    text-align: center;
    margin-bottom: 2em;
}

#imagen1{
    width: 20%;
    display:flex;
    flex-direction: column;
    position: relative;
    
       
}

#separacion{
    clear:both;
}

#texto2{
    width: 70%;
    margin: 5px;
    padding: 5px;
    float: left;
    font-size: 150%;
    text-align: justify;
    background-color: azure;
        
}

#p_texto2{
    text-align: justify;
}
#imagen2{
    width: 25%;
    position: relative;
    
}

aside{
    width: 26;
    height: 90%;
    margin: 5px;
    position: absolute;
    top: 55%;
    left: 72%;
}
h3{
    color: rgb(56, 35, 8);
    text-align: center;
}

#texto3{
    padding: 7px;
    font-size: 90%;
    text-align: justify;
    background-color: rgb(175, 177, 145);
    
}

#imagen3{
    position: relative;
    top: 5px;
}

footer{
    width: 100%;
    height: 70%;
    padding: 5px;
    background-color: rgb(238, 194, 137);

}